<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.mapper.UserHaveApplyStatusMapper">
	<!-- 用户查看申请进度 -->
	<select id="searchStatus" parameterType="String" resultType="userHaveApplyStatusBean">
		select state,systemType from usetable where email=#{email}
	</select>
	<select id="getStateMachine" parameterType="String" resultType="int">
		select state from usetable where email=#{email} limit 1
	</select>
	<select id="statusByName" parameterType="userHaveStatuBySysBean" resultType="int">
		select state from usetable where systemType=#{systemType} and email=#{email} limit 1
	</select>
</mapper>